@model TelephoneDirectory.DAL.Entities.Employee

@{
    ViewBag.Title = MultiLanguage.Resource.EDET_DETAIL;
}

<h2>@MultiLanguage.Resource.EDET_EMPLOYEE_DETAIL</h2>


<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @MultiLanguage.Resource.EDET_FIRST_NAME
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @MultiLanguage.Resource.EDET_LAST_NAME
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @MultiLanguage.Resource.EDET_TELEPHONE
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telephone)
        </dd>

        <dt>
            @MultiLanguage.Resource.EDET_EMAIL
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(@MultiLanguage.Resource.EDET_BACK_TO_LIST, "List")
</p>
