@{
    ViewBag.Title = MultiLanguage.Resource.HOME_HOME;
}

<div class="jumbotron">
    <h1>@MultiLanguage.Resource.HOME_JMB_ASPNET</h1>
    <p class="lead">@MultiLanguage.Resource.HOME_JMB_CONTEXT</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">@MultiLanguage.Resource.HOME_LEARN_MORE &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>@MultiLanguage.Resource.HOME_GETTING_STARTED</h2>
        <p>
            @MultiLanguage.Resource.HOME_GETTING_STARTED_CONTENT
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">@MultiLanguage.Resource.HOME_LEARN_MORE &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>@MultiLanguage.Resource.HOME_GET_MORE_LIBRARIES</h2>
        <p>@MultiLanguage.Resource.HOME_GET_MORE_LIBRARIES_CONTENT</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">@MultiLanguage.Resource.HOME_LEARN_MORE &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>@MultiLanguage.Resource.HOME_WEB_HOSTING</h2>
        <p>@MultiLanguage.Resource.HOME_WEB_HOSTING_CONTENT</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">@MultiLanguage.Resource.HOME_LEARN_MORE &raquo;</a></p>
    </div>
</div>