<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Telephone Directory</title>
    <link rel="shortcut icon" href="~/Areas/Admin/assets/global/images/favicon.png" type="image/png">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Telephone Directory", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink(MultiLanguage.Resource.NVB_HOME, "Index", "Home")</li>
                    <li>@Html.ActionLink(MultiLanguage.Resource.NVB_EMPLOYEES, "List", "Employee")</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink(MultiLanguage.Resource.NVB_LOGIN, "Login", "Account", new { area = "Admin" }, null)</li>
                    <li><a href="/Language/ChangeLanguage?language=tr"><img src="~/images/flags/tr.png" /></a></li>
                    <li><a href="/Language/ChangeLanguage?language=en"><img src="~/images/flags/en.png" /></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - @MultiLanguage.Resource.FTR_SIGNATURE</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
